.print {
  height: 11.69in;
  width: 8.27in;
  /* background-color: green; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.346in 0.185in;
  line-height: 0.5;
  page-break-before: always; /* or page-break-after: always; */
  border: 1px solid black;
}

.print .card {
  width: calc(3.902in - 0.185in * 2);
  height: calc(3.677in - 0.185in * 2);
  /* background-color: red; */
  border: 1px solid black;
  border-radius: 0.185in;
  padding: 0.185in;
  overflow: hidden;
}

.card .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .company {
  font-weight: bold;
  text-align: center;
}

.card .company .name {
  font-size: 18px;
  line-height: 0.5;
}

.card .company .add {
  font-size: 16px;
  line-height: 0;
}

.card .card-footer {
  text-align: center;
}

.card .customer-info {
  font-size: 16px;
  /* line-height: 0.5; */
}

.card .customer-info table {
  width: 100%;
  table-layout: auto;
}

.card .customer-info table td {
  /* padding: 8px; */
  line-height: 1.1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Print setting */
@media print {
  /* @page {
    size: landscape;
  } */

  body {
    margin: 0;
    padding: 0;
    height: 11.69in;
    width: 8.27in;

    background-color: red;
  }
  .print {
    height: 11.69in;
    width: 8.27in;
    background-color: green;
    page-break-before: always; /* or page-break-after: always; */
  }

  .card {
    width: 3.902in;
    height: 3.677in;
    background-color: red;
  }

  /* hide all except print */
  .no-print,
  .no-print * {
    display: none !important;
  }
}
