.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
}

.table tbody {
  overflow-y: scroll;
  height: 500px;
  display: block;
}

.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table th td {
  text-align: left;
  padding: 16px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  background-color: #4caf50;
  color: white;
}

.table td {
  border: 1px solid #ddd;
}

/* Print setting */
@media print {
  .print {
    width: 595px;
    height: 842px;
  }

  .card {
    width: 3.902in;
    height: 3.677in;
    background-color: red;
  }

  /* hide all except print */
  .no-print,
  .no-print * {
    display: none !important;
  }
}

.print {
  width: 595px;
  height: 842px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.print .card {
  width: 3.902in;
  height: 3.677in;
  background-color: red;
}
